body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  background: -webkit-linear-gradient(90deg, #3d4052, #282a36, #09090c);
  background: linear-gradient(90deg, #3d4052, #282a36, #09090c);
}

.content {
  width: 95%;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  border: 3px solid rgba(0, 0, 0, 0.37);
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  margin: 0 auto;
}

.card {
  flex: 1;
  height: 100%;
  cursor: pointer;
  transition: flex 550ms ease, box-shadow 550ms ease;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0.277);
  box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover {
  flex: 4;
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.7);
}

.card1 {
  background-image: url(images/1.jpg);
}

.card2 {
  background-image: url(images/2.jpg);
}

.card3 {
  background-image: url(images/3.jpg);
}

.card4 {
  background-image: url(images/4.jpg);
}

.card5 {
  background-image: url(images/5.jpg);
}

.line {
  background: -webkit-linear-gradient(90deg, #010114, #7349bc, #010114);
  background: linear-gradient(90deg, #010114, #7349bc, #010114);
  padding: 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.name {
  font-family: "Kaushan Script", cursive;
  font-size: 56px;
  font-weight: 900;
  background: -webkit-linear-gradient(90deg, #d607eb, #ff2467, #f4a115);
  background: linear-gradient(90deg, #d607eb, #ff2467, #f4a115);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
  text-shadow: 1px 1px 1px #daa520, 0 0 8px rgba(218, 165, 32, 0.8);
  transform: rotate(90deg);
  transition: transform 550ms ease;
}

.card:hover .name {
  transform: rotate(0deg);
}

.title {
  font-family: "Kaushan Script", cursive;
  font-size: 56px;
  font-weight: 900;
  background: -webkit-linear-gradient(90deg, #d607eb, #ff2467, #f4a115);
  background: linear-gradient(90deg, #d607eb, #ff2467, #f4a115);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-decoration: none;
  text-shadow: 1px 1px 1px #daa520, 0 0 8px rgba(218, 165, 32, 0.8);
}

.special1,
.special2,
.special3 {
  position: relative;
  display: inline-block;
  padding: 15px 0;
  cursor: pointer;
}

.special1 {
  padding: 5px 0;
}

.special1::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid rgba(255, 255, 255, 0.14);
  border-radius: 30% 25% 37% 32%;
  animation: spin 3s linear infinite;
  z-index: -1;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.special1:hover::before {
  border-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.special2::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid rgba(42, 251, 0, 0.101);
  border-radius: 37% 39% 25% 47%;
  animation: spin 4s linear infinite;
  z-index: -1;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.special2:hover::before {
  border-color: rgba(42, 251, 0, 0.8);
  box-shadow: 0 0 15px rgba(42, 251, 0, 0.7);
}

.special3::before {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  right: -6px;
  bottom: -6px;
  border: 2px solid rgba(255, 0, 0, 0.184);
  border-radius: 25% 45% 41% 25%;
  animation: spin 8s linear infinite;
  z-index: -1;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.special3:hover::before {
  border-color: rgba(255, 0, 0, 0.8);
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.7);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
